name: Release

on:
  push:
    tags:
      - 'v*.*.*'

jobs:
  release:
    runs-on: ubuntu-latest
    
    steps:
    # 检出代码
    - name: Checkout code
      uses: actions/checkout@v4
    
    # 设置 JDK 11
    - name: Set up JDK 11
      uses: actions/setup-java@v4
      with:
        java-version: '11'
        distribution: 'temurin'
        cache: gradle
    
    # 给 gradlew 执行权限
    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    
    # 构建项目
    - name: Build with Gradle
      run: ./gradlew bootJar --no-daemon
    
    # 获取版本号
    - name: Get version
      id: get_version
      run: echo "VERSION=${GITHUB_REF#refs/tags/}" >> $GITHUB_OUTPUT
    
    # 创建 Release
    - name: Create Release
      id: create_release
      uses: actions/create-release@v3
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        tag_name: ${{ github.ref }}
        release_name: Release ${{ steps.get_version.outputs.VERSION }}
        draft: false
        prerelease: false
    
    # 上传 JAR 文件到 Release
    - name: Upload Release Asset
      uses: actions/upload-release-asset@v3
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ steps.create_release.outputs.upload_url }}
        asset_path: ./build/libs/genshin-gm-generator.jar
        asset_name: genshin-gm-generator-${{ steps.get_version.outputs.VERSION }}.jar
        asset_content_type: application/java-archive